.home__featureCards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home__name{
    font-size: 200%;
    margin-left: 20rem;
    color: #003A9B;
}