.collectionPage{
    width: 100%;
    display: flex;
}

.leftSide{
    width: 50%;
}

.rightSide{
    width: 50%;
}

/* Left side */
.imageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayImage{
    width: 50%;
    padding: 5rem;
    background-color: #bfd6fd;
    object-fit: cover;
    border-radius: 1rem;
}

/* Right side */

.itemList{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.listItem{
    background-color: #bfd6fd;
    border-radius: 1rem;
    padding: 1rem;
}

.listItem img{
    width: 25rem;
    height: 25rem;
}