.priceCard{
    color: #003A9B;
    background-color: #bfd6fd;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 35rem;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.priceCard:hover{
    scale: 1.05;
}