.priceCard{
    color: #003A9B;
    padding: 1rem;
    min-width: 35rem;
    min-height: 50rem;
    border-radius: 0.4rem;
    box-shadow:inset 0 0 1rem 0rem;
    transition: 0.3s;
}

.priceCard:hover{
    scale: 1.05;
}