.priceCard{
    color: #003A9B;
    background-color: #bfd6fd;
    padding: 1rem;
    border-radius: 1rem;
    height: 55rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.priceCard:hover{
    scale: 1.05;
}
.priceCardtitle{
    padding: 1rem;
    padding-bottom: 5rem;
}
.priceCard__container{
    min-height: 45rem;
    margin: 0 5rem;
}
.priceCardfeatures{
    padding: 1rem;
}
.priceCard__feature{
    display: flex;
    align-items: center;
}
.priceCard__icon{
    padding: 1rem;
}
.priceCard__button{
    align-self: center;
    border-radius: 0.5rem;
    min-height: 5rem;
    min-width: 24rem;
    border: none;
    background-color: #003A9B;
    color: #EEE;
    transition: 0.3s;
}
.priceCard__button:hover{
    background: #1c5ac4;
}
